<mat-toolbar color="primary">
  <span>
    <a routerLink="/">GOOD SHAPE</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>


  <!-- (postCreated)는 post-create에서 내뿜는 이벤트이고 onPostAdded($event)은 app.component에서 받는다.  -->
  <!-- <app-post-create></app-post-create> -->
  <!-- [posts]는 post-list의 변수이고 storedPosts는 app.component의 변수이다.
  즉 [posts]에 storedPosts를 주입하는 것이다. -->
  <!-- <app-post-list></app-post-list> -->
