<!-- <textarea rows="7" [value]="newPost" #postInput></textarea> -->
<mat-card>
  <!-- ngForm은 값에 접근 하게 해주고, vaildation도 체크해준다고 한다. -->
  <!-- required는 aungular문법은 아니다. -->
  <form (submit)="onAddPost(postForm)" #postForm="ngForm"  >
    <mat-form-field>
      <!-- <input matInput type="text" [(ngModel)]="enteredTitle"> -->
      <input matInput type="text" name="title" ngModel required minlength="3" #title="ngModel">
      <mat-error *ngIf="title.invalid"> Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="4" name="content" ngModel required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid"> Please enter a post content.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </form>
</mat-card>
